.env*
node_modules
*.zip
*.tar.gz
.serverless
package/
.idea/
.DS_Store
coverage
.nyc_output/
package-lock.json
yarn-error.log
event.json
.npmrc
.webpack
pgdata/
dist
cdk.out
newrelic_agent.log
.vscode/
scripts/mobile-migration/*.txt
